<?xml version="1.0"?>

<model>
  <name>SOAR Trailer</name>
  <version>1.0</version>
  <!--<sdf version="1.3">model.sdf</sdf>
  <sdf version="1.4">model.sdf</sdf>-->
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Chase Murray</name>
    <email>cmurray3@buffalo.edu</email>
  </author>

  <description>
    SOAR Trailer
  </description>

</model>

