<?xml version="1.0"?>
<!--
	# Spawn world with no robots:
	roslaunch ub_gazebo template_world_only.launch

	# Spawn two turtlebots:
	roslaunch ub_gazebo turtlebot_spawn.launch robot_namespace:=tb1 x:=1.0 y:=-2.5
	roslaunch ub_gazebo turtlebot_spawn.launch robot_namespace:=tb2 x:=2.0 y:=-3.5
-->

<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <arg name="robot_namespace" default="/"/>     <!-- If using multiple robots, each namespace must be unique -->
  <arg name="x"               default="0.0"/>
  <arg name="y"               default="0.0"/>
  <arg name="z"               default="0.0"/>
  <arg name="yaw"             default="1.57"/>

  <group ns = "$(arg robot_namespace)">
    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg robot_namespace)" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_namespace) -x $(arg x) -y $(arg y) -z $(arg z) -Y  $(arg yaw) -param robot_description" />
  </group>  
</launch>  
